<section class="about">
    <div class="container">
        <img src="../../../assets/img/1.jpg" alt="">
        <div class="text">
            <h1 class="heading">About <span class="heading-mark">Us</span></h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam autem, placeat ut praesentium iste nemo eius quasi in enim. Qui, commodi dignissimos esse corporis earum odit laudantium, accusantium, eligendi porro placeat deleniti tempore laboriosam
                vitae distinctio necessitatibus cumque libero dolorum? Repellat iure blanditiis deleniti exercitationem itaque sequi asperiores dignissimos minus.</p>
        </div>
    </div>
</section>