<section class="home">
    <div class="container">
        <h1 class="heading">It's Your <span class="heading-mark">Car</span></h1>
        <a class="btn" routerLink="vehicles">Explore the cars</a>
    </div>


</section>
<div class="icons">
    <div class="box">
        <i class="fas fa-home"></i>
        <h3>40+</h3>
        <p>Branches</p>
    </div>
    <div class="box">
        <i class="fas fa-car"></i>
        <h3>3000+</h3>
        <p>Cars Sold</p>
    </div>
    <div class="box">
        <i class="fas fa-car"></i>
        <h3>450+</h3>
        <p>New Car</p>
    </div>
</div>